django==5.0.2
djangorestframework==3.14.0
django-cors-headers==4.3.1
python-dotenv==1.0.1
requests==2.31.0
numpy==1.26.4
pandas==2.2.0
scikit-learn==1.4.0
python-decouple==3.8
huggingface_hub==0.20.3 